            .card img {
                width: 60px;
                height: 60px;
            }
            
            .add-product {
                float: right;
            }
            
            em {
                color: tomato;
            }